@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gruppo', cursive;
}

body {
    background: rgb(32, 32, 32);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    margin-top: 3rem;
    font-family: 'Pokemon Solid', sans-serif;    
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 249, 67);
    text-shadow: 3px 3px rgb(95, 88, 178), -6px -4px rgb(28, 12, 92);
    animation: rotate 1s ease-out 0.2s forwards;
}

h2 {
    color: rgb(156, 147, 249);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1.2rem;
    opacity: 0;
    animation: fadeIn 1s ease-in 1.2s  forwards;
}

main {
    max-width: 900px;
    display: flex;
    margin-top: 2rem;
    padding: 2rem;
    width: 80vw;
    justify-content: space-between;
    animation: fadeIn 1s ease-in 2s forwards;
    opacity: 0;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.chosen {
    text-align: right;
}

h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgb(255, 249, 67);
}

.pokemon {
    width: 15rem;
    padding: 1rem;
    border: 1px solid rgba(255, 249, 132, 0.395);
    display: flex;
    gap: 1rem;
    color: white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.095);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.382);
    text-align: left;
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

#points-total {
    color: rgb(255, 249, 67);
    margin-top: 1rem;
    text-align: right;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0);
    } 70% {
        transform: rotate(360deg) scale(2);
    } 100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}